Repository zzang-sogumm/cs-study, pull requests merged in 2023-05, with the labels that each got.

#18 [WEEK 02] 이수
  Network/images/bus_topology.png
  Network/images/mesh_topology.png
  Network/images/ring_topology.png
  Network/images/star_topology.png
  Network/images/tree_topology.png
  Network/네트워크_토폴로지와_병목현상.md
  Network/네트워크의_기초.md
  OS/CPU스케줄링_알고리즘.md
  OS/images/multilevel_queue.png
  README.md
Labels: OS 👾, NETWORK 🌏

#19 [WEEK 02] 치호
  OS/images/deadlock.png
  OS/images/monitor.png
  OS/images/mutex.png
  OS/images/semaphore.png
  OS/공유자원과_임계영역.md
  OS/교착상태.md
  README.md
Labels: OS 👾

#20 [WEEK02] 연주
  OS/IPC.md
  OS/PCB.md
  OS/images/context_switching.jpeg
  OS/images/message_queue.jpeg
  OS/images/multi_process.jpeg
  OS/images/multi_thread.jpeg
  OS/images/thread_multi.jpeg
  OS/images/thread_single.jpeg
  OS/images/unnamed_pipe.jpeg
  OS/스레드와 멀티프로세싱 및 멀티스레싱.md
  README.md
Labels: OS 👾

#25 [내용정리] 이수
  Network/images/L4_switch.png
  Network/images/L7_switch.jpg
  Network/images/ap.jpg
  Network/images/bridge.png
  Network/images/hub.jpg
  Network/images/lan_card.jpg
  Network/images/repeater.png
  Network/images/router.jpg
  Network/네트워크_기기.md
  OS/메모리의_계층구조.md
  OS/캐시와_캐시메모리.md
Labels: OS 👾

#27 [week04] 윤하
  Network/images/cmd_netstat.png
  Network/images/cmd_nslookup.png
  Network/images/cmd_ping.png
  Network/images/cmd_tracert.png
  Network/네트워크_성능_분석_명령어.md
  Network/네트워크_프로토콜_표준화.md
Labels: NETWORK 🌏

#28 [WEEK04] 이수
  Network/네트워크_기기.md
Labels: NETWORK 🌏

#29 [WEEK04] 연주
  Network/TCP, IP_4계층.md
  Network/images/3_way_handshake.png
  Network/images/4_way_handshake.png
  Network/images/datagram_packet.png
  Network/images/encapsulation.png
  Network/images/ethernet_frame.png
  Network/images/non_encapsulation.png
  Network/images/tcp_ip_4.png
  Network/images/virtual_circuit_packet.png
Labels: NETWORK 🌏

#35 [WEEK05] 윤하
  Network/HTTP.md
  Network/images/http1.0_rtt.png
  Network/images/http1.0_sprite1.png
  Network/images/http1.0_sprite2.png
  Network/images/http1.0_sprite3.png
  Network/images/http1.1_pipelining.png
  Network/images/http1.1_vs1.0.png
  Network/images/http2_binary.png
  Network/images/http2_multiplexing.png
  Network/images/http2_multiplexing1.jpg
  Network/images/http2_multiplexing2.jpg
  Network/images/http2_serverpush.png
  Network/images/http_hpack.png
  README.md
Labels: NETWORK 🌏

#32 [WEEK05] 이수
  Network/HTTP3.md
  Network/HTTPS.md
  Network/images/HTTPS_encryption.png
  Network/images/SSL_protocol.png
Labels: NETWORK 🌏
